<?php
/**
 * Configuration file
 *
 * @package    app
 * @version    1.0
 * @author     Ihor Anishchenko <ianischenko@mindk.com>
 * @copyright  2016 - 2017 Ihor Anischenko
 */
return [
    'routes' => include('routes.php'),
    'layout' => __DIR__.'/../../src/Questions/View/layout.php',
    'error404' => __DIR__.'/../../src/Questions/View/404.php',
    'client_id' => 'your google client id',
    'secret' => 'your google secret',
    'pdo' => [
        'connect' => 'mysql:host=localhost;dbname=questions',
        'username' => 'username',
        'password' => 'db password'
    ],
    'swiftmailer' => [
        'username' => 'your email',
        'password' => 'your password'
    ]
];